<mat-card>
  <mat-card-header>
    <img alt="Logo de l'asset considéré" mat-card-avatar style="object-fit: contain;" [src]="call[1].image" />
    <mat-card-title>{{ call[1].name }}</mat-card-title>
    <mat-card-subtitle>{{ call[1].author }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex flex-col">
    <p>${{ call[1].callPrice }} le {{ call[1].callDate | date }}</p>
    <mat-form-field appearance="fill">
      <mat-label>Prix clôture</mat-label>
      <input matInput [disabled]="!call[1].running" [(ngModel)]="call[1].closedPrice" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date clôture</mat-label>
      <input matInput [disabled]="!call[1].running" [matDatepicker]="picker" [(ngModel)]="call[1].closedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button matTooltip="Supprimer le call" (click)="deleteCall(call[0])">
    <mat-icon  class="mr-4 cursor-pointer hover:text-red-600">delete</mat-icon>
    </button>
    <mat-slide-toggle color="primary" [checked]="!call[1].running" (change)="call[1].running = !call[1].running">{{ call[1].running ? "Clôturer" : "En cours" }}</mat-slide-toggle>
    <button mat-raised-button matTooltip="Fournir un prix et une date de clôture pour valider" color="primary" [disabled]="readyToSave()">save</button>
  </mat-card-actions>

</mat-card>
